<nav class="navbar navbar-default">
    <div class="container-fluid">
        <h1>SHOP</h1>
    </div>
</nav>
<div>
    <div class="container">
        <div class="col-md-12">
            <router-outlet></router-outlet>
        </div>
        <div class="col-md-2">            
            Cart going here
        </div>
    </div>
</div>

<!-- <div class="main">
    <div class="products">
        <app-product-list></app-product-list>
    </div>
    <div class="cart">
        <app-cart-component #cart></app-cart-component>
    </div>
</div>
<input type="button" value="Reset App" (click)="resetAll()"/> -->
