<div *ngIf="getProductsCount() === 0">
  <h3>Your cart is empty</h3>
</div>
<div *ngIf="getProductsCount() > 0">
    <h3>You have {{getProductsCount()}} Product(s) in your cart:</h3>
    <div *ngFor="let p of getProducts()">
        <app-cart-item [CartItem]="p"></app-cart-item>
        <!-- <input type="button" value="Remove" (click)="removeFromCart(i)"/> -->
    </div>
    <hr/>
    <div>
      Total ammount is: {{getAmmount()}}
    </div>
    <input type="button" value="Clear all" (click)="clearAll()"/>
</div>
